07-bpel/BuyStocksProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
	xmlns:tns="http://BuyStocks/wsdl"
	xmlns:tnsxsd="http://BuyStocks/xsd"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:sm="http://stockmarket/"
	xmlns:cust="http://custodian/"
	targetNamespace="http://BuyStocks/wsdl"
	>

	<wsdl:import location="StockMarket.wsdl"
	namespace="http://stockmarket/" />
  
	<wsdl:import location="Custodian.wsdl"
	namespace="http://custodian/" />

	<wsdl:types>
		<xsd:schema targetNamespace="http://BuyStocks/xsd">
            <xsd:element name="BuyStocksIn">
		        <xsd:complexType>
					<xsd:sequence>
						<xsd:element name="fromAmsterdam" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element minOccurs="1" maxOccurs="1" name="stockId" type="xsd:int"/>
									<xsd:element minOccurs="1" maxOccurs="1" name="stockCount" type="xsd:int"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="fromLondon" minOccurs="1" maxOccurs="1">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element minOccurs="1" maxOccurs="1" name="stockId" type="xsd:int"/>
									<xsd:element minOccurs="1" maxOccurs="1" name="stockCount" type="xsd:int"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
		        </xsd:complexType>
	        </xsd:element>
            <xsd:element name="BuyStocksOut">
		        <xsd:complexType>
		            <xsd:sequence>
				        <xsd:element minOccurs="1" name="storeMessage" type="xsd:string"/>
		            </xsd:sequence>
		        </xsd:complexType>
	        </xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="BuyStocksInputMessage">
		<wsdl:part name="parameters" element="tnsxsd:BuyStocksIn"/>
	</wsdl:message>
	<wsdl:message name="BuyStocksOutputMessage">
		<wsdl:part name="parameters" element="tnsxsd:BuyStocksOut"/>
	</wsdl:message>

	<wsdl:portType name="StocksPortType">
		<wsdl:operation name="BuyStocksOperation">
			<wsdl:input name="BuyStocksIn" message="tns:BuyStocksInputMessage"/>
			<wsdl:output name="BuyStocksOut" message="tns:BuyStocksOutputMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="StockMarketStocksPortType">
		<wsdl:operation name="BuyStocksFromStockMarket">
			<wsdl:input name="BuyStocksIn" message="sm:BuyStocksResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="CustodianStocksPortType">
		<wsdl:operation name="StoreStocksAtCustodian">
			<wsdl:input name="StoreStocksIn" message="cust:StoreStockResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="StocksSOAPBinding" type="tns:StocksPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BuyStocksOperation">
			<soap:operation soapAction="urn:BuyStocks" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>	
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="StockMarketStocksSOAPBinding" type="tns:StockMarketStocksPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="BuyStocksFromStockMarket">
			<soap:operation soapAction="urn:BuyStocksFromStockMarketResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="CustodianStocksSOAPBinding" type="tns:CustodianStocksPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="StoreStocksAtCustodian">
			<soap:operation soapAction="urn:StoreStocksAtCustodianResponseOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="StocksService">
		<wsdl:port name="StocksPort" binding="tns:StocksSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/Stocks"/>
		</wsdl:port>
		<wsdl:port name="StockMarketStocksPort" binding="tns:StockMarketStocksSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/StockMarketStocks"/>
		</wsdl:port>
		<wsdl:port name="CustodianStocksPort" binding="tns:CustodianStocksSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/CustodianStocks"/>
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="BuyStocksLinkType">
		<plnk:role name="BuyStocksExecutorRole" portType="tns:StocksPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="BuyStocksFromAmsterdamStockMarketLinkType">
		<plnk:role name="StockMarketRole" portType="sm:StockMarket"/>
		<plnk:role name="BuyStocksFromStockMarketClientRole" portType="tns:StockMarketStocksPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="BuyStocksFromLondonStockMarketLinkType">
		<plnk:role name="StockMarketRole" portType="sm:StockMarket"/>
		<plnk:role name="BuyStocksFromStockMarketClientRole" portType="tns:StockMarketStocksPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="StoreStocksAtCustodianLinkType">
		<plnk:role name="CustodianRole" portType="cust:Custodian"/>
		<plnk:role name="StoreStocksAtCustodianClientRole" portType="tns:CustodianStocksPortType"/>
	</plnk:partnerLinkType>
</wsdl:definitions>
