07-bpel/StockMarket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<xs:schema xmlns:tns="http://stockmarket/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://stockmarket/">

<xs:element name="BuyStocks" type="tns:BuyStocks"/>

<xs:element name="BuyStocksResponse" type="tns:BuyStocksResponse"/>

<xs:element name="ShowAvailableStocks" type="tns:ShowAvailableStocks"/>

<xs:element name="ShowAvailableStocksResponse" type="tns:ShowAvailableStocksResponse"/>

<xs:complexType name="ShowAvailableStocks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ShowAvailableStocksResponse">
<xs:sequence>
<xs:element name="return" type="tns:stockList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stockList">
<xs:sequence>
<xs:element name="stocks" type="tns:availableStock" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="availableStock">
<xs:sequence>
<xs:element name="count" type="xs:int"/>
<xs:element name="stock" type="tns:stock" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stock">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="price" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuyStocks">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BuyStocksResponse">
<xs:sequence>
<xs:element name="return" type="tns:availableStock" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>