03-wsdl/stock_market_wsdl.xml

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://stockmarket/"
  targetNamespace="http://stockmarket/">
	<wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://stockmarket/" >

            <xs:element name="ShowAvailableStocks"/>
            <xs:element name="ShowAvailableStocksResponse" form="qualified">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="return">
                            <xs:complexType>
                                <xs:element name="stocks" type="tns:stockType" minOccurs="0" maxOccurs="unbounded"/>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="stockType">
                <xs:sequence>
                    <xs:element name="count" type="xs:int" minOccurs="1" maxOccurs="1"/>
                    <xs:element name="stock" minOccurs="1" maxOccurs="1">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="id" type="xs:int"/>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="price" type="xs:float"/>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:complexType>

            <xs:element name="BuyStocks" form="qualified">
		        <xs:complexType>
		            <xs:sequence>
				        <xs:element minOccurs="1" maxOccurs="1" name="arg0" type="xs:int"/>
				        <xs:element minOccurs="1" maxOccurs="1" name="arg1" type="xs:int"/>
		            </xs:sequence>
		        </xs:complexType>
	        </xs:element>

            <xs:element name="BuyStocksResponse" form="qualified">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="return" type="tns:stockType"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:schema>
	
    </wsdl:types>

	<!-- messages (0,*) -->
	<wsdl:message name="ShowAvailableStocksMessage">
		<wsdl:part name="parameters" element="tns:ShowAvailableStocks"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ShowAvailableStocksResponseMessage">
		<wsdl:part name="parameters" element="tns:ShowAvailableStocksResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="BuyStocksMessage">
		<wsdl:part name="parameters" element="tns:BuyStocks"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="BuyStocksResponseMessage">
		<wsdl:part name="parameters" element="tns:BuyStocksResponse"></wsdl:part>
	</wsdl:message>

	<!-- port types (0,*) -->
	<wsdl:portType name="StockMarketPortType">

        <wsdl:operation name="ShowAvailableStocksOperation">
            <wsdl:input message="tns:ShowAvailableStocksMessage"/>
            <wsdl:output message="tns:ShowAvailableStocksResponseMessage"/>
        </wsdl:operation>

        <wsdl:operation name="BuyStocksOperation">
            <wsdl:input message="tns:BuyStocksMessage"/>
            <wsdl:output message="tns:BuyStocksResponseMessage"/>
        </wsdl:operation>

	</wsdl:portType>

	<!-- bindings (0,*) -->
	<wsdl:binding name="StockMarketBinding" type="tns:StockMarketPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="ShowAvailableStocksOperation">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="BuyStocksOperation">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

	<!-- services (0,*) -->
	<wsdl:service name="StockMarketService">
        <wsdl:port binding="tns:StockMarketBinding" name="StockMarketPort">
            <wsdlsoap:address location="http://127.0.0.1:8000/StockMarket"/>
        </wsdl:port> 
    </wsdl:service>

</wsdl:definitions>
